!!!
%html
	%head
		%title ione Video
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		= render :partial => '/templates/header'
		.container
			= yield
		= render :partial => '/templates/footer'